<div class="wrapper">
    <div class="splash-description">
        <h1>mArtketplace</h1>
        <p>I'm baby ut celiac meh tempor. Kickstarter 8-bit cupidatat actually. Waistcoat tattooed in occaecat, taxidermy williamsburg taiyaki cray bitters migas art party keffiyeh excepteur lo-fi snackwave. Ut 3 wolf moon chillwave, succulents taxidermy you probably haven't heard of them keytar tbh viral whatever. Put a bird on it adaptogen nisi live-edge yr. Dolor mlkshk +1 gentrify air plant cray dolore. Cardigan coloring book distillery portland est photo booth viral etsy ipsum adaptogen cold-pressed cornhole roof party.</p>
    </div>
    <div class="splash-images">
        <img src="" alt="">
        <img src="" alt="">
    </div>
</div>