.grid-container h1 {
	grid-column: 2/5;
	font-size: 5rem;
	display: none;
}

.inner-grid {
	grid-column: 2/12;
	display: grid;
	grid-gap: 25px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.inner-grid img {
	max-width: 100%;
}

.listing {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.listing-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 40px;
	font-size: 1.2rem;
	font-weight: 100;
}

.listing-info h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.new-listing {
	background-color: #ff878d;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	font-weight: 400;
}

.new-listing a {
	color: #fff;
}

.new-listing a:hover {
	transform: scale(1.05);
	color: #fff;
}
